*~
*.config
*.files
*.includes
*.user
*.creator
.idea/
sources/scripts/.gitignore
sources/scripts/.idea/
sources/scripts/build.sh
tools/bin/init
tools/src/aucont_start
tools/src/aucont_start.c
tools/src/draft.c

